
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.current {
  width: 400px;

}

.search {
  width: 500px;
}
.all {
  width: 100%;

}

.movie:hover {
  background-color: #fff;
}
